/*toggle navbar*/

#subsupplier ul,#subcustomer ul,#submaterial ul ,#subinvoicereport ul,#subpurchasereport ul{
    list-style: none;
}



.sidebar{
   transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
a.navbar-brand {
    margin-left: 25px;
}
#sidebar-btn{
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 23px;
  position: absolute;
  top: 0px;
left: 0px;

}

#sidebar-btn span{
  height: 2px;
  background: #bfd630!important;
  margin-bottom: 5px;
  display: block;

}
#sidebar-btn span:nth-child(2){
  width: 75%;
}
#sidebar-btn span:nth-child(3){
  width: 50%;
}
.sidebar.visible{
  left: -190px;
transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar.visible .logo:after{
right: 0px;
}
.sidebar.visible .simple-text.logo-mini{
  float: right;
}

.sidebar.visible i{
  position: relative;
float: right;
transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1)!important;
  left: 10px;
}

#main-panel.bodycollapse{
  position: relative;
transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
width: calc(100%  - 70px)!important;

}

@media(max-width: 768px){
  #sidebar-btn{
    display: none!important;
}
.sidebar.visible{
  left: 0px;
}
.sidebar.visible .logo:after{
right: 15px;
}
.sidebar.visible .simple-text.logo-mini{
  float: left;
}

.sidebar.visible i{
  position: relative;
float: left;
transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1)!important;
  left: 0px;
}

#main-panel.bodycollapse{
  position: relative;
transition:all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
width: calc(100%  - 0px)!important;

}

}




.purchase_header {
    text-align: center;
    padding-bottom: 15px;
}

.amountword {
    border: 1px solid #dee2e6;
    text-align: left;
    padding: 10px;
}
#words {
    text-transform: capitalize;
}

.border {
    border: 1px solid #dee2e6;
    padding: 40px;
}
.viewlogo {
    text-align: right;
}
.viewlogo img {
    height: 185px;
}

.customeraddress {
    /*margin-bottom: 10!important;*/
    margin-top: 20px;
}

/*report content*/
.company,.company_account_details,.signature_content {
    display: flex;
}
.company_addresss,.viewlogo,.declare_details,.bank_details,.customer_sign,.company_sign{
    width: 50%;
    display: inline-block;
}

.reportviewtable thead tr th {
    border: 1px solid #dee2e6!important;
}
/*.reportviewtable {
    margin: 60px 0px;
}*/
.reportviewtable thead th, .reportviewtable tr td,#tab_logic_total tbody tr th,#tab_logic_total tbody tr td {
    padding: 6px!important;
}
.grand_total {
    /* float: right; */
    padding: 0px;
    text-align: right;
    padding-right: 20px;
}
.company_account_details,.signature_content{
    border: 1px solid #dee2e6;
    position: relative;
    bottom: 0;
}
.grand_total ul li {
    list-style: none;
    padding-bottom: 20px;
}

/*.amountword {
    margin-top: 100px;
}*/

.customer_sign {
    border-right: 1px solid #dee2e6;
    padding-top: 50px;
    text-align: center;
}
.company_sign {
    text-align: center;
}
.company_account_details ul {
    list-style: none;
    padding-top: 10px;
}
.declare_details {
    border-right: 1px solid #dee2e6;
}
.papers {
    padding-bottom: 27px;
}

.print_btn {
    text-align: center;
}


.finaltotal {
    display: flex;
}
.gsttable {
    width: 50%;
    display: inline-block;
    margin-right: 20px;
}
.totaltable {
    width: 50%;
    display: inline-block;
    margin-right: -20px;
}



#tab_logic_total tr th {
    text-align: left!important;
}
.declare {
    padding-top: 44px;
}
/*.declare_details ul,.bank_details ul {
    list-style: none;
    padding: 15px;
}
.signature_content .row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.signature_content1 {
    border-right: 1px solid;
}
.customer_sign,.company_sign{
    padding-top: 50px;
    text-align: center;
}*/


.footertext {
    text-align: center;
    padding-top: 5px;
}




/*.main-panel > .content {
    height: 100vh;
}*/
.table-responsive {
    overflow-y: hidden!important;
}
.alert.alert-success {
    background-color: #bfd630!important;
    border: none;
    color: #fff;
}
.sidebar[data-active-color="danger"] .nav li.active > a {
    color: #bfd630!important;
}
.sidebar[data-active-color="danger"] .nav li.active > a i {
    color: #bfd630!important;
}
.btn-primary {
    background-color: #bfd630!important;
    border-color: #bfd630!important;
}
.btn-primary:hover{
	background-color: #bfd630!important;
}



.table-bordered thead tr th {
    border: 1px solid #dee2e6;
}
.daybutton {
    text-align: center;
    margin-top: 20px;
}
.customers {
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 768px){
	.customers {
    width: 100%!important;
}
}